
<h1><%= @restaurant.name %></h1>

<p>Capacity: <%= @restaurant.capacity %> </p>

<h2>Make a reservation</h2>

<% if @reservation.errors.any? %>
    <% @reservation.errors.messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
<% end %>

<% if @restaurant.reservations.count > 0 %>
  
    <% @restaurant.reservations.each do |reservation| %>
      <p> <%= reservation.party_size %>, <%= reservation.reserved_at %> 
      </p>
    <% end %>
<% end %>


<%= form_for [@restaurant, @reservation] do |f| %>
  <p>
    <%= image_tag @restaurant.image_url(:thumb).to_s %>
  </p>
    <p>
        Party size:
        <%= f.text_field :party_size %>
    </p>

    <p>
      Date & Time:
      <%= f.datetime_select :reserved_at %>
    </p>
    
    <p>
      <%= f.submit("Make Reservation", class: "btn btn-primary")  %>
    </p>
<% end %>

<%= link_to "Back to restaurants", restaurants_path, class: 'btn btn-primary' %>
<br><br>



